Package: net.dylanaraps.neofetch
Name: Neofetch
Version: 1.8.1
Architecture: iphoneos-arm
Description: A fast, highly customizable system info script that supports Linux, OS X, iOS, BSD, Solaris and Windows (Cygwin).
Repo: https://github.com/dylanaraps/neofetch
Homepage: http://dylanaraps.com/repo
Maintainer: Dylan Araps <dylan.araps@gmail.com>
Author: Dylan Araps <dylan.araps@gmail.com>
Section: Utilities
Depends: bash, coreutils, coreutils-bin, darwintools, system-cmds, gawk, grep
