Package: net.dylanaraps.neofetch.git
Name: Neofetch (git)
Version: 1.8-git-a56429e
Architecture: iphoneos-arm
Description: A fast, highly customizable system info script that supports Linux, OS X, iOS, BSD, Solaris and Windows (Cygwin).
Homepage: http://dylanaraps.com/repo
Maintainer: Dylan Araps <dylan.araps@gmail.com>
Author: Dylan Araps <dylan.araps@gmail.com>
Section: Utilities
Depends: bash, coreutils, coreutils-bin, darwintools, system-cmds, gawk, grep
